* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  font-family: 'Helvetica Neue', sans-serif;
  background-color: #F9FAFB;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
}

h1 {
  font-size: 2.5rem;
  color: black;
}

h1 a {
  text-decoration: none;
  color: black;
  transition: color 0.3s ease, transform 0.3s ease, text-shadow 0.3s ease;
}

h1 a:hover {
  color: #555;                  
  transform: scale(1.1);   

}

h1 a:active {
  color: #0070f3; 
  transform: scale(0.95);
  text-shadow: 2px 2px 6px rgba(0, 112, 243, 0.3);
}

h1 a:focus {
  outline: none;
  color: darkblue;
  text-shadow: 2px 2px 6px rgba(0, 112, 243, 0.3);
}

.profile-image {
  width: 800px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 1.5rem;
  box-shadow: 0 4px 15px rgba(255, 255, 255, 0.1);
}

.nav-links {
  font-size: 1rem;
  opacity: 0.85;
}

.nav-links a {
  font-size: large;
  color: dark;
  text-decoration: none;
  margin: 0 0.5rem;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #444;
  transform: scale(1.5)
}
