html, body{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    scroll-behavior: smooth;
    background-color: red;
    /* color: #333 */
}


/* Navigation  bars of the program: */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
}

nav ul {    /* center the rows */
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 1rem 0;
}

nav li {    /* Space between the objects */
    margin: 0 1rem;
}

nav a {
    padding: 0.5rem 1rem;
    font-size: 1rem;
}