body {
    margin: 0;
    padding: 0;
    overflow-y: auto;
    overflow-x: hidden;
    scroll-behavior: smooth;
    min-height: 100%;
    color: bleack;
    line-height: 1.6;
    text-align: center;

    font-family: 'Helvetica Neue', sans-serif;
    background-color: #F9FAFB;
}


header {
    padding: 3rem 1rem 2rem;
    border-bottom: 2px solid #e0e0e0
}


h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
    font-weight: 700;
    letter-spacing: 2px;
}

.upload-controls {
    margin-top: 2rem;
}

button {
    background: transparent;
    color: black;
    border: 1px solid #888;
    padding: 10px 20px;
    font-size: 1rem;
    margin: 0 10px;
    cursor: pointer;
    transition: all .3s ease;
    border-radius: 10px;
}

button:hover {
    transform: scale(1.1);
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    padding: 1rem 0;
}

.gallery img {
    max-width: 300px;
    width: 90vw;
    border: 2px salid #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(255, 255, 255, 0.2);
    transition: transform 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.03);
}




